<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="server=192.99.16.67;database=daralorman;user id=abd;PWD=aymanxoxo"/>
    <add name="LocalSQLServer3" providerName="System.Data.SqlClient" connectionString="server=198.27.75.143;database=Kabnour_dbassociat2010;user id=OrmanAssociatNew;PWD=OrmanCalls_2013@AssORG"/>
    <add name="myConnectionString" connectionString="server=192.99.16.67;database=daralorman;user id=abd;PWD=aymanxoxo" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection2" providerName="System.Data.SqlClient" connectionString="server=167.114.174.82;database=Ormansc_schools;user id=ormansc_schools;PWD=ahmd123"/>
  </connectionStrings>
  <appSettings>
    <add key="FolderPath" value="uploads/Category"/>
    <add key="FolderPath2" value="uploadsCat/Category"/>
    <add key="FolderPath3" value="uploadsCat/Categorys"/>
    <add key="extendedPermissions" value="user_about_me,publish_stream"/>
    <add key="vpc_Version" value="1" />
    <add key="vpc_Command" value="pay" />
    <add key="vpc_Merchant" value="DAR_ELORMAN" />
    <add key="vpc_Merchant2" value="701342" />
    <add key="vpc_AccessCode" value="163B6DB4" />
    <add key="vpc_AccessCode2" value="061AC315" />
    <add key="SecureSecret" value="2482664C3CE3AA9D8592EFA6BA9E1F46" />
    <add key="SecureSecret2" value="41D15E2F6F0709B5BA99A08AAD69CAED" />
    <add key="PaymentServerURL" value="https://migs.mastercard.com.au/vpcpay" />
    <add key="vpc_ReturnURL" value="Donate2/3Party_Receipt.aspx" />
    <add key="vpc_ReturnURL2" value="aaibLE/3Party_Receipt.aspx" />

    <add key="vpc_MerchantUsd" value="701342USD" />
    <add key="vpc_AccessCodeUsd" value="090AF86A" />
    <add key="SecureSecretUsd" value="E0CC752FFD8E920ADEEC84861A3276B9" />
    <add key="vpc_ReturnURLUsd" value="aaibUSD/3Party_Receipt.aspx" />
    
    
    
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests -->
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
     
      
      
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!-- Register the HttpHandler used for BotDetect Captcha 
      requests (IIS 7.0+) -->
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>